@use 'base/variables' as v;
@use 'sass:color';

.dark-mode{
    background-color: color.adjust(v.$grisOscuro, $lightness: 10%);

    p {
        color: v.$blanco;
    }

    a, h1, h2, h3, h4{
        color: v.$gris;
        font-family: v.$fuente_principal;
        font-size: 900;
        font-weight: v.$bold;
    }

    .anuncio, 
    .resumen-propiedad {
        background-color: color.adjust(v.$grisOscuro, $lightness: 9.5%);
        font-weight: 500;
        .titulos{
            font-weight: v.$bold;
            font-size: 900;
            font-family: v.$fuente_principal;
            
        }
        .precio {
            color: v.$verde;
        }

        .icono{
            filter: invert(100%);
        }
    }

    .texto-nosotros blockquote{
        color: v.$blanco;
    }

    .formulario {
        label,
        legend, 
        p {
            color: v.$gris;
        }
        input:not([type="submit"]), 
        textarea,
        select {
            background-color: v.$grisOscuro;
            border: 1px solid v.$grisOscuro;
            color: v.$blanco;
        }
    }



}