@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;


@include m.tablet {
    .contenedor-anuncios {
        @include m.grid(3, 2rem);
    }
}

.anuncio {//Se realiza borde 
    background-color: color.adjust(v.$gris, $lightness: .5%); //fondo
    border: 1px solid color.adjust(v.$gris, $lightness: -10%);
    margin-bottom: 2rem;
    .contenido-anuncio{
        padding: 2rem;
    }
    h3, p {
        margin: 0;
    }
}

.precio{
    color: v.$verde;
    font-weight: v.$bold;
    font-size: 3rem;
}
//iconos 
.iconos-caracteristicas{
    display: flex;
    list-style: none;//alimina marca de listado 
    padding: 0;
    max-width: 40rem;

    li{ //mismo tamaño u misma fila 
        flex: 1;
        display: flex;

        img { //Se le genera tamaño y espacio 
           flex: 0 0 3rem;
           margin-right: 1rem;
        }
        p{
            font-weight: v.$black;
        }
    }
}

.img-anuncios{
    width: 40rem;
    height: 30rem;
}