@use 'base/variables' as v;

.testimonial {
    background-color: v.$verde;
    font-size: 2.4rem; 
    padding: 2rem;
    color: v.$blanco;
    border-radius: 2rem;

    //Seperacion 
    blockquote {
        padding-left: 5rem;
        position: relative;
    
    //Se agrega comilla para colocar imagen 
        &::before { //before para que sea antes del texto after despues 
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block; //con block aparece
            position: absolute; //Se coloca absoluta para que no se mueva al acomodar la imagen 
            left: -2rem; //Se acomoda la comilla con relative 

        }
    }
     p{
        text-align: right;
        color: v.$blanco;
     }
}